{% extends 'base.html.twig' %}

{% block main %}
    <h1>Pievieno failus</h1>
    <p>Failiem j훮b큰t JSON form훮t훮</p>
    {{ form_start(form, {attr: attr|default({})}) }}
    {{ form_widget(form) }}

    <button type="submit" class="{{ button_css|default("btn btn-primary") }}">
        <i class="fa fa-save" aria-hidden="true"></i> Pievienot failus
    </button>
    {{ form_end(form) }}
{% endblock %}
